body{
    background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/cobblestones-robert-ullmann.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;

    text-align: center;
  }

li {
  display: inline;
}
p,h1,h2,h3,h4,h5,a {
  text-align: center;
}

p,h5,h2,h3,h1{
  color:  rgb(255, 255, 255);
}

.card {
  background-color:   rgba(85, 85, 85, 0.753);
  text-align: center;
}

footer {
  text-align: center;
}

 